* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Display_PDF {
    width: 700px;
    position: relative;
}

.Display_Highlighter {
    border: 2px solid red;
    width: 80%;
    z-index: 1;
}

.Display_File {
    width: 600px;
    height: 100vh;
}